.product-card a {
    text-decoration: none;
    color: black;
}

.product-card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .2);
  transform: scale(1.03);
  transition: 0.3s;
}

.description {
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  line-height: 1.2;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  bottom: 0;
  position: absolute;
  padding-bottom: 20px;
}