.btn-hover {
  background: url(../../assets/img/like.svg) no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}

.btn-hover:hover {
  background: url(../../assets/img/like-full.svg) no-repeat;
}