html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font: 16px Roboto, Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(220, 220, 220, 0.850);
  box-shadow: 0 3px 3px rgba(0,0,0,0.25), 0 3px 10px rgba(0,0,0,0.22);
  text-align: center;
}

main {
  margin-top: 150px; 
}

/* ------------ресеты для отдельных элементов------------ */
.reset-margin-padding {
  margin: 0;
  padding: 0;
}

.btn-reset {
  font: 1.2rem Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: none;
  outline: none;
}

.link-reset {
  text-decoration: none;
  color: #000;
}
/* ------------ресеты для отдельных элементов------------ */

.header {
  padding: 20px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search {
  margin-top: 6px;
  padding: 3px 10px;
  height: 30px;
  width: 500px;
  border: 1px solid #000;
  border-radius: 3px;
  min-height: 20px;
  background-color: #fff;
  text-align: center;
}

input[type="search"] {
  margin-bottom: 8px;
  width: 474px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
  display: none; 
}

.btn-search {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  background: url(img/magnifying-glass.svg) no-repeat center/80%;
  cursor: pointer;
}

.btn-private {
  margin-top: 10px;
  padding: 5px;
  width: 30px;
  height: 30px;
  background: url(img/user.svg) no-repeat center/100%;
  border-radius: 50%;
  transition-property: box-shadow;
  transition-duration: 0.5s;
}

.btn-private:hover {
  box-shadow: 0 0 0 3px #0011ff69;
  cursor: pointer;
}

.category {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category div:not(:first-child) {
  margin-left: 20px;
}

.link-category {
  padding: 7px;
}

.link-category:hover {
  box-shadow: 0 6px 4px -4px rgba(255, 1, 1, 0.9);
}

.indent-for-link {
  padding: 20px 20px 0 25px;
  margin-bottom: 15px;
}

.link-all-content {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.link-all-content:hover {
  transition: 1s;
  border-bottom: 2px solid #000;
}

.list-product {
  padding: 5px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  padding: 10px;
  margin: 20px;
  width: 220px;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: box-shadow;
  transition-duration: 0.5s;
}

.product:hover {
  border: none;
  box-shadow: 0 0 0 3px rgba(170, 170, 170, 0.651);
}

.image-product {
  margin-bottom: 10px;
}

.image-product img {
  width: 200px;
  height: 200px;
} 

.name-product {
  margin-bottom: 10px;
  width: 200px;
  height: 35px;
  position: relative;
  text-align: center;
  overflow: hidden;
  font-size: 15px;
}

.price-and-like-product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.price-and-like-product p {
  text-align: center;
  font-weight: bolder;
}

.btn-like {
  height: 16px;
  width: 16px;
  background: url(img/like.svg) no-repeat;
}

.btn-like:hover{
  background: url(img/like-full.svg) no-repeat;
}

.btn-all-product {
  margin-top: 180px;
  text-align: center;
}

.btn-products {
  margin-bottom: 30px;
  padding: 7px;
  border-bottom: 2px solid #fff;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
}

.btn-products:hover {
  transition: 1s;
  border-bottom: 2px solid #000;
}

footer {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(170, 170, 170);
  border-top: 1px solid gray;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social-networks {
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

.padding-top-for-p {
  padding-top: 5px;
}