hr {
  border: none;
  display: block;
  background-color: gray;
  height: 1px;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.settings {
  display: flex;
}

.left-menu {
  width: 30%;
}

.left-menu-item {
  font-size: 20px;
  margin: 20px 0;
  text-decoration: none;
}

.no-active-item{
  font-weight: 100;
  color: rgba(158, 158, 158, 0.877);
}

.no-active-item:hover {
  color: #000;
}

.active-item{
  font-weight: 800;
}

.orders {
  width: 70%;
  margin-top: 20px;
  text-align: center;
}

.message-about-empty {
  font-size: 32px;
  font-weight: 700;
  color: #a5a3a3;
}

.line-height {
  line-height: 2rem;
}

.btn-all-products {
  margin-bottom: 20px;
  padding: 7px;
  color: #fff;
  background-color: #e43e3e;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn-all-products:hover {
  background-color: #f11818;
}

.clearfix {
  height: 20px;
}

.link-mainpage {
  text-decoration: underline;
  cursor: pointer;
  color: gray;
}

.link-mainpage:hover {
  color: #000;
}

.clearfix-for-footer {
  height: 26px;
}